@charset "UTF-8";

/* Vorlage */
.vorlage{
    /* Position */
    position: fixed;
    left: auto;
    right: 0px;
    top: auto;
    bottom: auto;
    z-index: auto;

    /* Weite & Höhe */
    width: 60px;
    height: 100%;
    min-width: auto;
    min-height: auto;
    max-width: auto;
    max-height: auto;

    /* Elementsichbarkeit */
    display: "";

    /* Hintergrundfabe */
    background-color: red;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
}

#main-diagram-diagramWeeklyOverview{
    /* Position */
    position: absolute;
    left: 40px;
    right: auto;
    top: 20px;
    bottom: auto;
    z-index: auto;

    /* Weite & Höhe */
    width: 750px;
    height: 300px;
    min-width: auto;
    min-height: auto;
    max-width: auto;
    max-height: auto;

    /* Elementsichbarkeit */
    display: "";

    /* Hintergrundfabe */
    background-color: #919191;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
}

#main-diagram-todaysTickets{
    /* Position */
    position: absolute;
    left: 40px;
    right: auto;
    top: 350px;
    bottom: auto;
    z-index: auto;

    /* Weite & Höhe */
    width: 600px;
    height: 300px;
    min-width: auto;
    min-height: auto;
    max-width: auto;
    max-height: auto;

    /* Elementsichbarkeit */
    display: "";

    /* Hintergrundfabe */
    background-color: #919191;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
}

#main-diagram-perWorker{
    /* Position */
    position: absolute;
    left: 840px;
    right: auto;
    top: 20px;
    bottom: auto;
    z-index: auto;

    /* Weite & Höhe */
    width: 600px;
    height: 300px;
    min-width: auto;
    min-height: auto;
    max-width: auto;
    max-height: auto;

    /* Elementsichbarkeit */
    display: "";

    /* Hintergrundfabe */
    background-color: #919191;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
}