@charset "UTF-8";

.vorlage{
    /* Position */
    position: fixed;
    left: auto;
    right: 0px;
    top: auto;
    bottom: auto;

    /* Weite & Höhe */
    width: 60px;
    height: 100%;

    /* Hintergrundfabe */
    background-color: red;

    /* Textformatierung */
    color: auto;
}



body{
    margin: 0px;
}

#navigation{
    /* Position */
    position: fixed;
    left: auto;
    right: 0px;
    top: auto;
    bottom: auto;

    /* Weite & Höhe */
    width: 60px;
    height: 100%;

    /* Hintergrundfabe */
    background-color: red;

    /* Textformatierung */
    color: auto;
}

#head{
    /* Position & Weite */
    position: absolute;
    left: auto;
    right: 0px;
    top: auto;
    bottom: auto;

    /* Weite & Höhe */
    width: auto;
    height: 50px;
}