@charset "UTF-8";

/* Vorlage */
.vorlage{
    /* Position */
    position: fixed;
    left: auto;
    right: 0px;
    top: auto;
    bottom: auto;
    z-index: auto;

    /* Weite & Höhe */
    width: 60px;
    height: 100%;
    min-width: auto;
    min-height: auto;
    max-width: auto;
    max-height: auto;

    /* Hintergrundfabe */
    background-color: red;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
}

body{
    margin: 0px;
}

#navigation{
    /* Position */
    position: fixed;
    left: 0px;
    right: auto;
    top: auto;
    bottom: auto;
    z-index: 1;

    /* Weite & Höhe */
    width: 60px;
    height: 100%;

    /* Hintergrundfabe */
    background-color: red;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
}

#head{
    /* Position & Weite */
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    bottom: auto;
    z-index: auto;

    /* Weite & Höhe */
    width: 97%;
    height: 50px;
    min-width: auto;
    min-height: auto;
    max-width: auto;
    max-height: auto;

    /* Hintergrundfabe */
    background-color: green;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
    
}

/* #main {
    position: absolute;
    right: 0px;
    background: blue;
    top: 50px;
    height: 640px;
    width: 1476px;
} */

#main{
    /* Position & Weite */
    position: absolute;
    left: auto;
    right: 0px;
    top: 0px;
    bottom: auto;
    z-index: auto;

    /* Weite & Höhe */
    width: 1476px;
    height: 640px;
    min-width: auto;
    min-height: auto;
    max-width: auto;
    max-height: auto;

    /* Hintergrundfabe */
    background-color: blue;

    /* Textformatierung */
    color: auto;
    text-align: none;

    /* Schriftgröße & Schriftart */
    font-size: auto;
    font-family: "";
    
}